<title>{{ site.title }}</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<!--[if lte IE 8]>
<script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="assets/css/main.min.css"/>
<!--[if lte IE 9]>
<link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
<!--[if lte IE 8]>
<link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
{% if site.google_analytics %}
<!-- Google Analytics (GA4) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.google_analytics }}');
</script>
{% endif %}

<meta name="description" content="Fotografia de rua em Sorocaba - Registros visuais do cotidiano urbano, pessoas, lugares e momentos da cidade. Explore o olhar artístico nas ruas.">

<!-- Meta Keywords (obsoleto para Google, mas útil para outros motores) -->
<meta name="keywords" content="fotografia de rua, Sorocaba, fotografia urbana, cotidiano, arte urbana, fotos de rua, cidade de Sorocaba, fotógrafo em Sorocaba">

<!-- Author -->
<meta name="author" content="Gabriel Leite Lopes - @0g.leite">

<!-- Open Graph / Facebook -->
<meta property="og:title" content="Fotografia de Rua em Sorocaba | Cotidiano em Imagens">
<meta property="og:description" content="Imagens urbanas de Sorocaba que capturam a vida cotidiana. Fotografia de rua com estilo, sensibilidade e narrativa visual.">
<meta property="og:type" content="website">

<meta name="twitter:title" content="Fotografia de Rua em Sorocaba">
<meta name="twitter:description" content="Cotidiano urbano registrado em imagens autênticas pelas ruas de Sorocaba.">

